# Data Science Tools and Ecosystem

## Author: 
Patryk Mielniczek

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular Data Science languages
* List of popular Data Science libraries
* List of popular Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. matplotlib
4. scikit-learn

|Data Science Tools|
|----|
|VS Code|
|JupyterLab|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 /60

3.3333333333333335